## messageSource=classpath:/merchandisecore/messages/email-customerRegistration_$lang.properties
#macro(genHtmlLinkStartTag $url)
<a href="$url"><font color="#666666">
#end
#macro(genHtmlLinkEndTag)
</font></a>
#end
#macro(genHtmlLink $url $textColor $bodyContent)
<a href="$url"><font color="$textColor">$bodyContent</font></a>
#end

<html>
	<head>
	</head>
	<body bgcolor="#e9eaeb">

					
					
	<b><font face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('emailFrom')} ${ctx.displayName}</b></font>
		<p><font color="#2c3039" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.body}</b>,</font></p>
						
				
	
</body>
</html>
